.container {
    width: auto;
    height: 785px;
    /* border: red 2px solid; */

    position: relative;
}

.dashboard_name {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rounded-rectangles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    /* 间距，根据需要调整 */
    height: 85%;
    /* 设置容器高度为视窗高度，可以根据需要调整 */

    /* border: red 2px solid; */

}

.rounded-rectangle {
    width: 300px;
    height: 530px;
    background-color: #204339;
    border-radius: 30px;
    /* border: red 2px solid; */
    position: relative;
    top: 0%;

}

.chart_container {
    width: 600px;
    height: 550px;
    position: relative;
}

.lights {
    width: 40px;
    height: 50px;
    /* border: red 2px solid; */

    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

}



.light,
.prog_num,
.part {
    width: 90%;
    max-width: 100%;
    /* 图像最大宽度为容器宽度 */
    max-height: 100%;
    /* 图像最大高度为容器高度 */
}

.HAAS {
    width: 250px;
    height: 150px;
    background-color: #e4f5f5;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: red 2px solid; */
}

.title {
    width: 60%;
    color: aqua;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prog_nums {
    width: 200px;
    height: 150px;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #e4f5f5; */
}

.total_part_count,
.cycle_time {
    height: 15%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2px; */
    flex-direction: column;
    /* border: red 2px solid; */
}

h1,
h4 {
    border: #04130f;
    margin: 0%;
}










/* below is for chart container */

.bar_chart,
.line_chart
 {
    width: 85%;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line_chart {
    top: 25%;
}

.pie_chart, .doughnut_chart{
    display: inline-block;
    width: 50%;
    height: 50%;

  
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);


    
}

.pie_chart{
    display: none;
    left: 5%;
}







/* below is for last retangualr container */
.p_total {
    height: 16%;
    width: 80%;
    background-color: white;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 2px; */
    /* border: red 2px solid; */
}

.tool {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.parts {
    width: 180px;
    height: 130px;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #04130f; */

}


.table {
    width: 230px;
    border-collapse: collapse;
    /* background: transparent; */
    background-color: rgb(38, 46, 43);

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 13px;
    color: aliceblue;
}

.table td {

    padding: 5px;
    border: none;
    border-bottom: none;
}