<div class="container">
    <div class="header-container" routerLink="/">
        DMG MORI
    </div>
    <p class="dashboard_name">Lasertec 65     </p>
    <div class="machines">

        <div class="rounded-rectangle">
            <img src="../../assets/image/LT65.webp" alt="Lasertec 65" class="LT65 pictures">
            <p class="machine_name">Lasertec 65</p>
            <table class="table">
                <tr>
                    <td>Program</td>
                    <td>{{data[0].prog_num}}</td>
                </tr>
                <tr>
                    <td>Machine Status</td>
                    <td>{{data[0].machine_status}}</td>
                </tr>
                <tr>
                    <td>Complete No.</td>
                    <td>{{data[0].complete_number}}</td>
                </tr>
            </table>
        </div>

        <div class="table_container">
            <table class="table p_table">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
                <tr>
                    <td>Current Tool Number
                    </td>
                    <td>{{data[0].current_tool_number}}</td>
                    <td>m/min</td>
                </tr>
                <tr>
                    <td>Spindle Load
                    </td>
                    <td>{{data[0].spindle_load}}</td>
                    <td>mm/min
                    </td>
                </tr>
                <tr>
                    <td>Spindle Speed 
                    </td>
                    <td>{{data[0].spindle_speed}}</td>
                    <td>RPM
                    </td>
                </tr>
                <tr>
                    <td>Total Tool Change
                    </td>
                    <td>{{data[0].total_tool_change}}</td>
                    <td>RPM
                    </td>
                </tr>
                <tr>
                    <td>Cool Level (D)
                    </td>
                    <td>{{data[0].cool_level}}</td>
                    <td>mm
                    </td>
                </tr>
                <tr>
                    <td>Tolerances</td>
                    <td>{{data[0].prog_num}}</td>
                    <td>mm
                    </td>
                </tr>
                <tr>
                    <td>Surface Finish
                    </td>
                    <td>{{data[0].prog_num}}</td>
                    <td>micrometres
                    </td>
                </tr>
                <tr>
                    <td>Tool Path Strategy
                    </td>
                    <td>{{data[0].prog_num}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Coolant
                    </td>
                    <td>{{data[0].prog_num}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Program</td>
                    <td>{{data[0].prog_num}}</td>
                    <td></td>
                </tr>
                <!-- <tr>
                    <td>LA</td>
                    <td>{{haasPowermeterData[0].la}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>LB</td>
                    <td>{{haasPowermeterData[0].lb}}</td>
                    <td></td>
                </tr> -->

            </table>
        </div>

        <div class="chart_container">

                <!--                           
                <div class="selection">
                  <label>
                    <input type="checkbox" [(ngModel)]="showPieChart" /> Show Pie Chart
                  </label>
                  <label>
                    <input type="checkbox" [(ngModel)]="showBarChart" /> Show Bar Chart
                  </label>
                  <label>
                    <input type="checkbox" [(ngModel)]="showLineChart" /> Show Line Chart
                  </label>
                </div> -->
                 <p class="pie_chart_title chart_title">Machine Status Percentage</p>
                  <div *ngIf="showPieChart" class="chart pie_chart">
                    <!-- Add your pie chart component here -->
                    <ngx-charts-pie-chart
                      [view]="[300, 200]"
                      
                      [results]="pieChartData"
                      [legend]="pieShowLegend"
                      [customColors]="pieColorScheme"
                      
                      
                     
                      
                    ></ngx-charts-pie-chart>
              
                    
                  </div>
                  <!-- <div *ngIf="showBarChart" class="chart bar_chart">
                    <ngx-charts-bar-vertical
                      [view]="[500, 300]"
                      [results]="barChartData"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                    >
                    </ngx-charts-bar-vertical>
                    <p>Bar Chart goes here</p>
                  </div> -->
                  <p class="line_chart_title chart_title">Spindle Speed</p>
                  <div *ngIf="showLineChart" class="chart line_chart">
                    <ngx-charts-line-chart
                      [view]="[300, 200]"
                      
                      [results]="lineChartData"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                    ></ngx-charts-line-chart>
                    
                  </div>
               
              

        </div>



    </div>




</div>





