<div class="container">
    <div class="header-container" routerLink="/">
        DMG MORI
    </div>
    <p class="dashboard_name">Lasertec 65     </p>
    <div class="machines">

        <div class="rounded-rectangle">
            <img src="../../assets/image/LT65.webp" alt="Lasertec 65" class="LT65 pictures">
            <p class="machine_name">Lasertec 65</p>
            <table class="table">
                <tr>
                    <td>Program</td>
                    <td>{{data[0].prog_name}}</td>
                </tr>
                <tr>
                    <td>Machine Status</td>
                    <td>{{data[0].run_state}}</td>
                </tr>
                <tr>
                    <td>Complete No.</td>
                    <td>{{data[0].time}}</td>
                </tr>
            </table>
        </div>

        <div class="table_container">
            <table class="table p_table">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
                <tr>
                    <td>prog_name
                    </td>
                    <td>{{data[0].prog_name}}</td>
                    <td>m/min</td>
                </tr>
                <tr>
                    <td>run_state
                    </td>
                    <td>{{data[0].run_state}}</td>
                    <td>mm/min
                    </td>
                </tr>
                <tr>
                    <td>abort_state 
                    </td>
                    <td>{{data[0].abort_state}}</td>
                    <td>RPM
                    </td>
                </tr>
                <tr>
                    <td>ops_mode
                    </td>
                    <td>{{data[0].ops_mode}}</td>
                    <td>RPM
                    </td>
                </tr>
                <tr>
                    <td>Cool Level (D)
                    </td>
                    <td>{{data[0].ops_mode}}</td>
                    <td>mm
                    </td>
                </tr>
                <tr>
                    <td>Tolerances</td>
                    <td>{{data[0].ops_mode}}</td>
                    <td>mm
                    </td>
                </tr>
                <tr>
                    <td>Surface Finish
                    </td>
                    <td>{{data[0].ops_mode}}</td>
                    <td>micrometres
                    </td>
                </tr>
                <tr>
                    <td>Tool Path Strategy
                    </td>
                    <td>{{data[0].ops_mode}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Coolant
                    </td>
                    <td>{{data[0].ops_mode}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Program</td>
                    <td>{{data[0].ops_mode}}</td>
                    <td></td>
                </tr>


            </table>
        </div>

        <div class="chart_container">

                <!--                           
                <div class="selection">
                  <label>
                    <input type="checkbox" [(ngModel)]="showPieChart" /> Show Pie Chart
                  </label>
                  <label>
                    <input type="checkbox" [(ngModel)]="showBarChart" /> Show Bar Chart
                  </label>
                  <label>
                    <input type="checkbox" [(ngModel)]="showLineChart" /> Show Line Chart
                  </label>
                </div> -->
                 <p class="pie_chart_title chart_title">Machine Status Percentage</p>
                  <div *ngIf="showPieChart" class="chart pie_chart">
                    <!-- Add your pie chart component here -->

              
                    
                  </div>
              
                    
            
               
              

        </div>
    </div>
</div>





