.chart-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .chart {
    margin: 10px;
    color: aliceblue;

background-color: rgb(1, 10, 11);
  }
  
  .chart-x-axis,
.chart-y-axis {
  color: rgb(3, 132, 245)!important;
  /* 在这里设置轴的样式，例如颜色、字体大小等 */
} 
