.chart-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .chart {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  