
<!-- chart.component.html -->
<div class="chart">
   <!-- <h2>{{ chartTitle}}</h2> -->
   
   <ng-container *ngIf="chartType === 'line'">
      <div>
         <canvas baseChart [data]="dataLine" [type]="'line'" [options]="chartOptionsLine" [labels]="chartLabel" ></canvas>
      </div>
      <!-- <div>{{dataLine|json}}</div> -->
   </ng-container>

   <ng-container *ngIf="chartType === 'bar'">
      <div>
         <canvas baseChart [data]="dataBar"  [type]="'bar'" [options]="chartOptionsBar" [labels]="chartLabel"></canvas>
      </div>
      <!-- <div>{{dataBar|json}}</div> -->
   </ng-container>

   <ng-container *ngIf="chartType === 'pie'">
      <div>
         <canvas baseChart [data]="dataPie" [type]="'pie'" [options]="chartOptionsPie" [labels]="chartLabel" ></canvas>
      </div>
      <!-- <div>{{dataPie|json}}</div>
      <div>{{chartOptionsPie|json}}</div> -->
   </ng-container>

   <ng-container *ngIf="chartType === 'doughnut'">
      <div>
         <canvas baseChart [data]="dataDoughnut" [type]="'doughnut'" [options]="chartOptionsDoughnut" [labels]="chartLabel"></canvas>
      </div>
      <!-- <div>{{dataPie|json}}</div>
      <div>{{chartOptionsPie|json}}</div> -->
      
   </ng-container>

   <ng-container *ngIf="chartType === 'barMulti'">
      <div>
         <canvas baseChart [data]="dataBarMulti"  [type]="'bar'" [options]="chartOptionsBarMulti" [labels]="chartLabel"></canvas>
      </div>
      <!-- <div>{{dataBar|json}}</div> -->
   </ng-container>
   
   
</div>
