<div class="background-container">

    <div class="container">
        <img src="../../assets/image/DMG_MORI_logo.png" alt="DMG_MORI_logo" class="DMG_MORI_logo">
        <img src="../../assets/image/ARTC_LOGO.png" alt="ARTC_logo" class="ARTC_logo">
        <div class="header-container" routerLink="/">
            DMG MORI Dashboard
        </div>

        <!-- <ul class="navbar">
        <li>
            <img src="../../assets/logo.png" alt="Logo">
        </li>
        <li>
            <a routerLink="/active_orders" routerLinkActive="active" class="nav-button">
                <i class="fas fa-shopping-cart"></i> Active Orders
            </a>
        </li>
        <li>
            <a routerLink="/download" routerLinkActive="active" class="nav-button">
                <i class="fas fa-cloud-download-alt"></i> Download
            </a>
        </li>
        <li>
            <a routerLink="/signup" routerLinkActive="active" class="nav-button">
                <i class="fas fa-user-plus"></i> Signup
            </a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active" class="nav-button">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    </ul> -->

        <div class="body">
            <router-outlet></router-outlet>
        </div>

        <!-- <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2023 Saesl Website. All rights reserved.</p>
            <p>Contact us: contact@saesl.com</p>
            <div class="social-links">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer> -->
    </div>  
</div>