<div class="container">
    <p class="dashboard_name">Lasertec 30 SLM</p>

    <div class="rounded-rectangles">

        <div class="rounded-rectangle">
            <!-- <DIV>{{data[0].machine_status |json}}</DIV> -->
            <div class="lights">
                <!-- <img class="light"
                    *ngIf="data[0].machine_status.toString() !== ' IDLE' && data[0].machine_status.toString() !== ' ALARM ON' && data[0].machine_status.toString() !== ' FEED HOLD'&& data[0].machine_status.toString() !== 'RUNNING'"
                    src="assets/image/Green.png" alt="Default Light">
                <img class="light" *ngIf="data[0].machine_status.toString() === ' IDLE'" src="assets/image/Yellow.png"
                    alt="Yellow Light">
                <img class="light" *ngIf="data[0].machine_status.toString() === ' ALARM ON'" src="assets/image/Red.png"
                    alt="Red Light">
                <img class="light" *ngIf="data[0].machine_status.toString() === ' FEED HOLD'"
                    src="assets/image/Blue.png" alt="Blue Light">
                <img class="light" *ngIf="data[0].machine_status.toString() === 'RUNNING'" src="assets/image/Green.png"
                    alt="Green Light"> -->
                    <img class="light"  src="assets/image/Green.png"
                    alt="Green Light">
            </div>
            <img src="../../assets/image/SLM30.png" alt="SLM30" class="HAAS">
            <h4 class="title">Current Program: S-101</h4>
            <div class="prog_nums">
                <!-- <img class="prog_num"
                    *ngIf="data[0].prog_num !== 101 && data[0].prog_num !== 102 && data[0].prog_num !== 103"
                    src="assets/image/m1.png" alt="Program 101">
                <img class="prog_num" *ngIf="data[0].prog_num === 101" src="assets/image/m1.png" alt="Program 101">
                <img class="prog_num" *ngIf="data[0].prog_num === 102" src="assets/image/m2.png" alt="Program 102">
                <img class="prog_num" *ngIf="data[0].prog_num === 103" src="assets/image/m3.png" alt="Program 103"> -->
                <img class="prog_num"  src="assets/image/m1.png" alt="Program 101">
            </div>
            <div class="total_part_count cycle_time">
                <h4>Total Part Count</h4>
                <h1>268</h1>
                
            </div>
        </div>

        <div class="rounded-rectangle chart_container">
            <app-charts class="line_chart " [chartType]="'line'" [chartData]="lineChartData" 
            [dataLine]="dataLine" [titleLine]="titleLine" [xTitleLine] = "xTitleLine" [yTitleLine] = "yTitleLine" ></app-charts>

            <app-charts class="line_chart Oxygen" [chartType]="'line'" [chartData]="lineChartDataO" 
            [dataLine]="dataLineO" [titleLine]="titleLineO" [xTitleLine] = "xTitleLineO" [yTitleLine] = "yTitleLineO" ></app-charts>
               
            
        </div>
    

        <div class="rounded-rectangle ">

            <!-- <div class="p_total">
                <h4>Power Consumption (1h)</h4>
                <h1>{{haasPowermeterData[1]}}</h1>
                <h4> kWh</h4>
  
            </div> -->
            <h4 class="title tool">Task Name: Medical Parts </h4>
            <h4 class="title mt">MTCONNECT</h4>
            <!-- <div class="parts">
                <img class="part"
                    *ngIf="data[0].prog_num !== 101 && data[0].prog_num !== 102 && data[0].prog_num !== 103"
                    src="assets/image/m4.png" alt="Part 1">
                <img class="part" *ngIf="data[0].prog_num === 101" src="assets/image/m4.png" alt="Part 1">
                <img class="part" *ngIf="data[0].prog_num === 102" src="assets/image/m5.png" alt="Part 2">
                <img class="part" *ngIf="data[0].prog_num === 103" src="assets/image/m6.png" alt="Part 3">
            </div>
            <div class="spindles">
                <img class="spindle"  src="assets/image/Vertical_spindle.png" alt="Vertical_spindle">
                <img class="spindle"  src="assets/image/Horizontal_spindle.webp" alt="Horizontal_spindle">
            </div> -->
            <table class="table">

                
                <tr>
                    <td>logic1</td>
                    <td>NORMAL</td>
                </tr>
                <tr>
                    <td>execution1</td>
                    <td>ACTIVE</td>
                </tr>
                <tr>
                    <td>program1</td>
                    <td>Medical Parts</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:00:06.9340004</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:04:49.9730003</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:06:30.7259998</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:08:12.8490004</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:09:52.7820001</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:11:32.6520001</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:13:12.9380005</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:14:52.6360001</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:16:33.3608533</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:18:13.9688528</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:19:53.9668528</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:21:34.2318936</td>
                </tr>
                <tr>
                    <td>operationTime</td>
                    <td>00:23:14.3618938</td>
                </tr>
            
            </table>

        </div>
    </div>