<div class="container">
    <div class="header-container" routerLink="/">
        DMG MORI
    </div>

    <p class="dashboard_name">HAAS VF-2-SE</p>
    <div class="prog_nums">
        <img class="prog_num" *ngIf="data[0].prog_num === 101 && data[0].machine_status.toString() !== ' ALARM ON'" src="assets/image/Green status.png" alt="Default Light">
        <img class="prog_num"   *ngIf="data[0].machine_status.toString() === ' IDLE'" src="assets/image/Grey_status.png" alt="Yellow Light">
        <img class="prog_num"   *ngIf="data[0].machine_status.toString() === ' ALARM ON'" src="assets/image/Purple.png" alt="Yellow Light">
    </div>
    <div class="machines">

        <div class="rounded-rectangle">
            <div class="lights">
                <img class="light" *ngIf="data[0].machine_status.toString() !== ' IDLE' && data[0].machine_status.toString() !== ' ALARM ON'" src="assets/image/Green status.png" alt="Default Light">
                <img class="light"   *ngIf="data[0].machine_status.toString() === ' IDLE'" src="assets/image/Grey_status.png" alt="Yellow Light">
                <img class="light"   *ngIf="data[0].machine_status.toString() === ' ALARM ON'" src="assets/image/Purple.png" alt="Yellow Light">
            </div>
            <img src="../../assets/image/HAAS.png" alt="HAAS" class="HAAS pictures">
            <p class="machine_name">HAAS</p>
            <table class="table">
                <tr>
                    <td>Program</td>
                    <td>{{data[0].prog_num}}</td>
                </tr>
                <tr>
                    <td>Machine Status</td>
                    <td>{{data[0].machine_status}}</td>
                </tr>
                <tr>
                    <td>Cycle Time</td>
                    <td>{{data[0].pre_cycle_time}}</td>
                </tr>
            </table>
        </div>
        <div class="chart_container">

            <!-- <p class="pie_chart_title chart_title">Machine Status Percentage</p> -->
            <app-charts class="line_chart" [chartType]="'line'" [chartData]="lineChartData"
                [chartLabel]="pTotalTimeList" ></app-charts>

            <!-- <p class="line_chart_title chart_title">Spindle Speed</p> -->
            <app-charts class="bar_chart" [chartType]="'bar'" [chartData]="barChartData" [chartLabel]="partList"></app-charts>

        </div>
       <!-- <div>{{data|json}}</div> -->
        <!-- <div>
            {{partTimeData | json}}
        </div>
        <div>{{partTimeList|json}}</div>
        <div>{{partList|json}}</div>
        <div>{{pTotalTimeList |json}}</div>
        <div>{{barChartData|json}}</div>
        <div>{{lineChartData|json}}</div>
        <div>{{haasPowermeterData[1]|json}}</div>
        <div>            {{partTimeData | json}}        </div>
        <div>{{partList|json}}</div> -->
        
        
        <div class="rounded-rectangle ">
            <table class="table p_table">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
                <tr>
                    <td>Current Tool Number</td>
                    <td>{{data[0].current_tool_number}}</td>
                    <td>m/min</td>
                </tr>
                <tr>
                    <td>Spindle Load
                    </td>
                    <td>{{data[0].spindle_load}}</td>
                    <td>mm/min
                    </td>
                </tr>
                <tr>
                    <td>Spindle Speed
                    </td>
                    <td>{{data[0].spindle_speed}}</td>
                    <td>RPM
                    </td>
                </tr>
               
                <tr>
                    <td>Coolant Status
                    </td>
                    <td>{{data[0].coolant_status}}</td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>X</td>
                    <td>{{data[0].x}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Y</td>
                    <td>{{data[0].y}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Z</td>
                    <td>{{data[0].z}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Part Count</td>
                    <td>{{data[0].part_count}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Power Consumption (Last 1 Hour) </td>
                    <td>{{haasPowermeterData[1]}}</td>
                    <td></td>
                </tr>

            </table>
        </div>


    </div>
</div>