<div class="container">
    <div class="header-container" routerLink="/">
        DMG MORI
    </div>

    <p class="dashboard_name">HAAS VF-2-SE</p>
    <div class="machines">

        <div class="rounded-rectangle">
            <img src="../../assets/image/HAAS.png" alt="HAAS" class="HAAS pictures">
            <p class="machine_name">HAAS</p>
            <table class="table">
                <tr>
                    <td>Program</td>
                    <td>{{data[0].prog_num}}</td>
                </tr>
                <tr>
                    <td>Machine Status</td>
                    <td>{{data[0].machine_status}}</td>
                </tr>
                <tr>
                    <td>Complete No.</td>
                    <td>{{data[0].complete_number}}</td>
                </tr>
            </table>
        </div>

        <div class="table_container">
            <table class="table p_table">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
                <tr>
                    <td>Current Tool Number</td>
                    <td>{{data[0].current_tool_number}}</td>
                    <td>m/min</td>
                </tr>
                <tr>
                    <td>Spindle Load
                    </td>
                    <td>{{data[0].spindle_load}}</td>
                    <td>mm/min
                    </td>
                </tr>
                <tr>
                    <td>Spindle Speed
                    </td>
                    <td>{{data[0].spindle_speed}}</td>
                    <td>RPM
                    </td>
                </tr>
                <tr>
                    <td>Total Tool Change
                    </td>
                    <td>{{data[0].total_tool_change}}</td>
                    <td>RPM
                    </td>
                </tr>
                <tr>
                    <td>Cool Level (D)
                    </td>
                    <td>{{data[0].cool_level}}</td>
                    <td>mm
                    </td>
                </tr>
                <tr>
                    <td>Tolerances</td>
                    <td>{{data[0].prog_num}}</td>
                    <td>mm
                    </td>
                </tr>
                <tr>
                    <td>Surface Finish
                    </td>
                    <td>{{data[0].prog_num}}</td>
                    <td>micrometres
                    </td>
                </tr>
                <tr>
                    <td>Tool Path Strategy
                    </td>
                    <td>{{data[0].prog_num}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Coolant
                    </td>
                    <td>{{data[0].prog_num}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Program</td>
                    <td>{{data[0].prog_num}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>LA</td>
                    <td>{{haasPowermeterData[0].time}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>P_total</td>
                    <td>{{haasPowermeterData[0].P_total}}</td>
                    <td></td>
                </tr>

            </table>
        </div>

        <div class="chart_container">


            <p class="pie_chart_title chart_title">Machine Status Percentage</p>


            <p class="line_chart_title chart_title">Spindle Speed</p>


            <app-charts></app-charts>



        </div>



    </div>




</div>