.container {
    width: auto;
    height: 785px;
    /* border: red 2px solid; */

    position: relative;
}

.dashboard_name {
    position: absolute;
    /* 使用固定定位 */
    top: 0%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 8%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
}



.machines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* 间距，根据需要调整 */
    height: 85%;
    /* 设置容器高度为视窗高度，可以根据需要调整 */
    flex-direction: row;
    /* border: red 2px solid; */
}

.rounded-rectangle {
    width: 300px;
    /* 定义矩形宽度 */
    height: 530px;
    /* 定义矩形高度 */
    background-color: #204339;
    /* 定义矩形背景颜色 */
    border-radius: 30px;
    /* 定义圆角半径 */
    /* border: red 2px solid; */

    position: relative;
    top: 0%;
}

.lights {
    width: 40px;
    height: 50px;

    position: absolute;
    /* 使用固定定位 */
    top: 12%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
}

.light, .prog_num, .part{
    max-width: 100%;
    /* 图像最大宽度为容器宽度 */
    max-height: 100%;
    /* 图像最大高度为容器高度 */
}
.prog_nums{ 
    width: 60px;
    height: 50px;

    position: absolute;
    /* 使用固定定位 */
    top: 12%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 25%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
    /* background-color: #04130f; */

}


.parts{ 
    width: 60px;
    height: 50px;

    position: absolute;
    /* 使用固定定位 */
    top: 12%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 75%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
    /* background-color: #04130f; */

}

.pictures,
.p1 {
    width: 250px;
    /* 设置容器的宽度 */
    height: 150px;
    /* 设置容器的高度 */
    /* border: red 2px solid; */
    background-color: #e4f5f5;

    position: absolute;
    /* 使用固定定位 */
    top: 35%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
}

.p2 {
    position: absolute;
    /* 使用固定定位 */
    top: 65%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
}

.machine_name {
    color: aqua;
    font-size: 25px;
    font-weight: 5px;

    position: absolute;
    /* 使用固定定位 */
    top: 50%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
}

.table {

    width: 230px;
    height: 100px;
    /* border: red 2px solid; */
    border-collapse: collapse;
    background: transparent;
    /* 背景透明 */
    border: #04130f;

    position: absolute;
    /* 使用固定定位 */
    top: 75%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */

    font-size: 15px;
    color: aliceblue;


}


th,
td {
    border: 2px solid #e4f5f5;
    /* 设置边框为1像素实线，颜色为黑色 */
    padding: 2px;
    /* 设置单元格内边距 */

    height: 20px;
}

th {
    background-color: rgb(4, 111, 111);
    width: 200px;
}

.p_total{
    height: 20%;
    width: 80%;
    background-color: white;
    position: absolute;
    /* 使用固定定位 */
    top: 15%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2px; */
    /* 间距，根据需要调整 */
  
    /* 设置容器高度为视窗高度，可以根据需要调整 */
    flex-direction: column;
    /* border: red 2px solid; */
}
h1,h4{border: #04130f; margin: 0%;}

.p_table {
    width: 280px;
    position: absolute;
    /* 使用固定定位 */
    top: 60%;
    /* 距离页面顶部的距离，根据需要进行调整 */
    left: 50%;
    /* 设置 left 为 50%，使元素左边缘处于父容器的中心位置 */
    transform: translate(-50%, -50%);
    /* 使用 transform 平移，将元素自身的中心对准 left: 50% 处 */
}

.chart_container {

    width: 600px;

    height: 550px;

    background-color: #204339;

    border-radius: 30px;

    /* border: red 2px solid;  */

    position: relative;

}

.pie_chart_title {
    color: #e4f5f5;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line_chart_title {
    color: #e4f5f5;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.chart {
    /* width: 80%;
    height: 40%; */

    margin-right: 20px;
    margin-bottom: 20px;



}

.bar_chart {
    width: 85%;


    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.line_chart {
    /* border: rgb(11, 27, 176) 2px solid;  */
    width: 85%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}