.container {
  width: auto;
  height: 785px;
  /* border: red 2px solid; */

  position: relative;
}

.dashboard_name {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rounded-rectangles {
  height: 85%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 80px;

  /* border: red 2px solid; */
}


.rounded-rectangle {
  width: 300px;
  height: 500px;
  background-color: #204339;
  border-radius: 30px;
  /* border: red 2px solid; */

  position: relative;
}

.lights {
  width: 40px;
  height: 50px;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light {
  max-width: 100%;
  max-height: 100%;
}

.pictures {
  width: 250px;
  height: 150px;
  background-color: #e4f5f5;

  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: red 2px solid; */
}

.machine_name {
  color: aqua;
  font-size: 25px;
  font-weight: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {

  width: 250px;
  height: 100px;
  border-collapse: collapse;
  background: transparent;


  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 15px;
  color: aliceblue;
}


td {
  border: 2px solid #e4f5f5;
  padding: 2px;
}