<div class="container">

  <p class="dashboard_name">RESOURCE TRACKING</p>
  <div class="rounded-rectangles">

    <div routerLink="/ntx500" class="rounded-rectangle">
      <img src="../../assets/image/NTX500.webp" alt="NTX500" class="NTX500 pictures">
      <p class="machine_name">NTX500</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>Row 1, Cell 2</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>Row 2, Cell 2</td>
        </tr>
        <tr>
          <td>Complete No.</td>
          <td>Row 3, Cell 2</td>
        </tr>
      </table>
    </div>


    <div routerLink="/lt65" class="rounded-rectangle">
      <img src="../../assets/image/LT65.webp" alt="LT65" class="LT65 pictures">
      <p class="machine_name">LT65</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>Row 1, Cell 2</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>Row 2, Cell 2</td>
        </tr>
        <tr>
          <td>Complete No.</td>
          <td>Row 3, Cell 2</td>
        </tr>
      </table>
    </div>


    <div routerLink="/haas" class="rounded-rectangle">
      <div class="lights">
        <img class="light"
          *ngIf="data[0].machine_status.toString() !== ' IDLE' && data[0].machine_status.toString() !== ' ALARM ON' && data[0].machine_status.toString() !== ' FEED HOLD'&& data[0].machine_status.toString() !== 'RUNNING'"
          src="assets/image/Green_status.png" alt="Default Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' IDLE'" src="assets/image/Purple_status.png"
          alt="Purple Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' ALARM ON'" src="assets/image/Red_status.png"
          alt="Red Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' FEED HOLD'" src="assets/image/Grey_status.png"
          alt="Grey Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === 'RUNNING'" src="assets/image/Green_status.png"
          alt="Green Light">
      </div>
      <img src="../../assets/image/HAAS.png" alt="HAAS" class="HAAS pictures">
      <p class="machine_name">HAAS</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>{{data[0].prog_num}}</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>{{data[0].machine_status}}</td>
        </tr>
        <tr>
          <td>Complete Part No.</td>
          <td>{{data[0].part_count}}</td>
        </tr>
      </table>
    </div>

  </div>

</div>