<div class="container">

  <p class="dashboard_name">RESOURCE TRACKING</p>
  <div class="rounded-rectangles">

    <div routerLink="/ntx500" class="rounded-rectangle">
      <div class="lights">
        <img class="light"
            *ngIf="NTX500data[0].machine_status.toString() !== 'READY' && NTX500data[0].machine_status.toString() !== 'INTERRUPTED' && NTX500data[0].machine_status.toString() !== 'ACTIVE'"
            src="assets/image/Green.png" alt="Default Light">
        <img class="light" *ngIf="NTX500data[0].machine_status.toString() === 'READY'"
            src="assets/image/Yellow.png" alt="Yellow Light">
        <img class="light" *ngIf="NTX500data[0].machine_status.toString() === 'INTERRUPTED'"
            src="assets/image/Red.png" alt="Red Light">
        <!-- <img class="light" *ngIf="NTX500data[0].machine_status.toString() === 'INTERRUPTED'"
            src="assets/image/Blue.png" alt="Blue Light"> -->
        <img class="light" *ngIf="NTX500data[0].machine_status.toString() === 'ACTIVE'"
            src="assets/image/Green.png" alt="Green Light">
    </div>

      <img src="../../assets/image/NTX500.webp" alt="NTX500" class="NTX500 pictures">
      
      <p class="machine_name">NTX500</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>{{NTX500data[0].prog_num}}</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>{{NTX500data[0].machine_status}}</td>
        </tr>
        <tr>
          <td>Complete Part No.</td>
          <td>{{NTX500data[0].part_count}}</td>
        </tr>
      </table>
    </div>


    


    <div routerLink="/haas" class="rounded-rectangle">
      <div class="lights">
        <img class="light"
            *ngIf="data[0].machine_status.toString() !== ' IDLE' && data[0].machine_status.toString() !== ' ALARM ON' && data[0].machine_status.toString() !== ' FEED HOLD'&& data[0].machine_status.toString() !== 'RUNNING'"
            src="assets/image/Green.png" alt="Default Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' IDLE'"
            src="assets/image/Yellow.png" alt="Yellow Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' ALARM ON'"
            src="assets/image/Red.png" alt="Red Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' FEED HOLD'"
            src="assets/image/Blue.png" alt="Blue Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === 'RUNNING'"
            src="assets/image/Green.png" alt="Green Light">
    </div>
      <img src="../../assets/image/HAAS.png" alt="HAAS" class="HAAS pictures">
      <p class="machine_name">3 Axis Milling</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>{{data[0].prog_num}}</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>{{data[0].machine_status}}</td>
        </tr>
        <tr>
          <td>Complete Part No.</td>
          <td>{{data[0].part_count}}</td>
        </tr>
      </table>
    </div>

    <div routerLink="/slm30" class="rounded-rectangle">
      <div class="lights">
        <!-- <img class="light"
            *ngIf="data[0].machine_status.toString() !== ' IDLE' && data[0].machine_status.toString() !== ' ALARM ON' && data[0].machine_status.toString() !== ' FEED HOLD'&& data[0].machine_status.toString() !== 'RUNNING'"
            src="assets/image/Green.png" alt="Default Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' IDLE'"
            src="assets/image/Yellow.png" alt="Yellow Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' ALARM ON'"
            src="assets/image/Red.png" alt="Red Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === ' FEED HOLD'"
            src="assets/image/Blue.png" alt="Blue Light">
        <img class="light" *ngIf="data[0].machine_status.toString() === 'RUNNING'"
            src="assets/image/Green.png" alt="Green Light"> -->
            <img class="light" 
            src="assets/image/Green.png" alt="Green Light">
    </div>
      <img src="../../assets/image/SLM30.png" alt="slm30" class="slm30 pictures">
      <p class="machine_name">SLM30</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>S-101</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>Running</td>
        </tr>
        <tr>
          <td>Complete Part No.</td>
          <td>268</td>
        </tr>
      </table>
    </div>

    <div routerLink="/lt65" class="rounded-rectangle">
      <div class="lights">
        <img class="light"
            *ngIf="LT65data[0].machine_status.toString() !== ' IDLE' && LT65data[0].machine_status.toString() !== ' ALARM ON' && data[0].machine_status.toString() !== ' FEED HOLD'&& data[0].machine_status.toString() !== 'RUNNING'"
            src="assets/image/Green.png" alt="Default Light">
        <img class="light" *ngIf="LT65data[0].machine_status.toString() === ' IDLE'"
            src="assets/image/Yellow.png" alt="Yellow Light">
        <img class="light" *ngIf="LT65data[0].machine_status.toString() === ' ALARM ON'"
            src="assets/image/Red.png" alt="Red Light">
        <img class="light" *ngIf="LT65data[0].machine_status.toString() === ' FEED HOLD'"
            src="assets/image/Blue.png" alt="Blue Light">
        <img class="light" *ngIf="LT65data[0].machine_status.toString() === 'RUNNING'"
            src="assets/image/Green.png" alt="Green Light">
    </div>
      <img src="../../assets/image/LT65.webp" alt="LT65" class="LT65 pictures">
      <p class="machine_name">LT65</p>
      <table class="table">
        <tr>
          <td>Program</td>
          <td>{{LT65data[0].prog_num}}</td>
        </tr>
        <tr>
          <td>Machine Status</td>
          <td>{{LT65data[0].machine_status}}</td>
        </tr>
        <tr>
          <td>Complete Part No.</td>
          <td>{{LT65data[0].part_count}}</td>
        </tr>
      </table>
    </div>

  </div>

</div>