<div class="container">
<div class="header-container">
    DMG MORI
</div>
<p class="dashboard_name">RESOURCE TRACKING</p>
<div class="machines">
  
    <div class="rounded-rectangle">
      <img src="../../assets/image/NTX500.webp" alt="NTX500" class="NTX500 pictures">
      <p class="machine_name">NTX500</p>
      <table class="table">
        <tr>
            <td>Program</td>
            <td>Row 1, Cell 2</td>
        </tr>
        <tr>
            <td>Machine Status</td>
            <td>Row 2, Cell 2</td>
        </tr>
        <tr>
            <td>Complete No.</td>
            <td>Row 3, Cell 2</td>
        </tr>
    </table>
    </div>

    
      <div class="rounded-rectangle">
        <img src="../../assets/image/LT65.webp" alt="LT65" class="LT65 pictures">
        <p class="machine_name">LT65</p>
        <table class="table">
          <tr>
              <td>Program</td>
              <td>Row 1, Cell 2</td>
          </tr>
          <tr>
              <td>Machine Status</td>
              <td>Row 2, Cell 2</td>
          </tr>
          <tr>
              <td>Complete No.</td>
              <td>Row 3, Cell 2</td>
          </tr>
      </table>
      </div>

  
        <div class="rounded-rectangle">
          <img src="../../assets/image/HAAS.png" alt="HAAS" class="HAAS pictures">
          <p class="machine_name">HAAS</p>
          <table class="table">
            <tr>
                <td>Program</td>
                <td>{{data[0].prog_num}}</td>
            </tr>
            <tr>
                <td>Machine Status</td>
                <td>Row 2, Cell 2</td>
            </tr>
            <tr>
                <td>Complete No.</td>
                <td>Row 3, Cell 2</td>
            </tr>
        </table>
        </div>
      


  </div>

  <div class="traffic-lights-container">

    <div *ngFor="let light of lights" class="traffic-light" [style.top.px]="light.top" [style.left.px]="light.left">
        <div class="light-label" >{{light.label}}</div>
        <img *ngIf="light.status === 'red'" src="../../assets/image/Red_status.png" alt="Red Light">
        <img *ngIf="light.status === 'yellow'" src="../../assets/image/Grey_status.png" alt="Gray Light">
        <img *ngIf="light.status === 'green'" src="../../assets/image/Green status.png" alt="Green Light">
      
    </div>
  </div>
  
  <div *ngIf="data" class="haha">
    <h2>time: {{ data[0].time }}</h2>
    <h2> prog_name: {{ data[0].prog_name }}</h2>
    
  </div>
<!-- <h1 class="hpl_name">Next Generation Hyper-Personalisation Line 1</h1> -->


</div>





  <!-- <div class="traffic-light" style="top: 20px; left: 20px;">
    <img *ngIf="lights[0].status === 'red'" src="assets/red-light.png" alt="Red Light">
    <img *ngIf="lights[0].status === 'yellow'" src="assets/yellow-light.png" alt="Yellow Light">
    <img *ngIf="lights[0].status === 'green'" src="assets/green-light.png" alt="Green Light">
  </div>
  
  <div class="traffic-light" style="top: 20px; left: 100px;">
    <img *ngIf="lights[1].status === 'red'" src="assets/red-light.png" alt="Red Light">
    <img *ngIf="lights[1].status === 'yellow'" src="assets/yellow-light.png" alt="Yellow Light">
    <img *ngIf="lights[1].status === 'green'" src="assets/green-light.png" alt="Green Light">
  </div> -->